.step-container {
  display: flex;
  min-height: 200px;
  min-width: 300px;
  flex-direction: column;
}
.step-view {
  flex: 1,

}

.step-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid @border-color-base;
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 60px;
    &:hover {
      background-color: @second-color;
    }
  }
}
.step-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  height: 40px;
  border-bottom: 1px solid @border-color-base;
  .title {
    flex: 1;
    font-size: 12px;
  }
}
.btn-close {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    color: @primary-color;
  }
}