.modal {
  position: fixed;
  top: 0;
  height: 100%;
  width:100%;
  .left {
    position: absolute;
    height: 100%;
    opacity: 1;
    left: 0;
    top: 0;
    min-width: 100px;
    background-color: #fff;
  }
  .right {
    position: absolute;
    height: 100%;
    opacity: 1;
    right: 0;
    top: 0;
    min-width: 100px;
    background-color: #fff;
    animation: pushleft .3s ease-out normal;
  }
  .center {
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
.mask {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 100%;
  width:100%;
  background-color: rgba(0, 0, 0, .5);
  animation: spring .3s ease-in-out 1 normal;
}

@keyframes spring{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes pushleft{
  0% {right: -100px;opacity: 0;}
  100% {right: 0px;opacity: 1;}
}