.modal {
  position: fixed;
  top: 0;
  height: 100%;
  width:100%;
  .left {
    position: absolute;
    height: 100%;
    opacity: 1;
    left: 0;
    top: 0;
    min-width: 100px;
    background-color: #fff;
  }
}
.mask {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 100%;
  width:100%;
  background-color: rgba(0, 0, 0, .5);
}